@use 'var' as *;

.plans {
    padding: 3vw;

    h2 {
        text-align: center;
    }

    &__list {
        margin-top: 50px;
        display: flex;
        justify-content: space-around;

        &__item {
            text-align: center;
            padding: 54px 44px 44px;
            max-width: 380px;
            width: 100%;

            &:nth-child(2) {
                background-image: url(../../dist/images/fundo_combo_plus.png);
                background-repeat: no-repeat;
                background-size: contain;
            }

            img{
                height: 83px;
            }

            strong {
                display: block;
                margin-top: 24px;
            }

        }

    }

    p {
        text-align: center;
    }

}