@use 'var' as *;
@use 'header';
@use 'hero';
@use 'shows';
@use 'plans';
@use 'available__devices';
@use 'faq';
@use 'footer';
@use 'sass:color';


@font-face {
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Bold.woff2);
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Avenir;
    list-style: none;
}


body {
    background-color: $corDeFundo;
    font-family: Avenir;
}

@mixin text($fontSize: 16px) {
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: $corTextoPrincipal
}

@mixin title($fontSize: 40px) {
    @include text(font-size);
    color: $corTextoSecundario;
}

.text--big {
    @include text(18px);

    @media (max-width:768px) {
        @include text(15px)
    }
}

.text {
    @include text;
    @media (max-width:768px) {
        @include text(14px)
    }
}

.text--small {
    @include text(12px);

    @media (max-width:768px) {
        @include text(11px)
    }
}

.title--big {
    @include title(44px);
    @media (max-width:768px) {
        @include title(26px)
    }
}

.title {
    @include title;

    @media (max-width:768px) {
        @include title(24px)
    }
}

.title--small {
    @include title(28px);
    @media (max-width:768px) {
        @include title(22px);
    }
}

.link-text {
    @include text(18px);
    color: $corTextoSecundario;
    text-decoration: underline;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 48px;
    font-size: 18px;
    color: $corTextoSecundario;
    background-color: $corBotaoPrimario;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    padding: 8px 14px;
    letter-spacing: 1px;
    border: 1px solid $corBotaoPrimario;

    &:hover {
        background-color: color.scale($corBotaoPrimario, $lightness: 3%);
    }

    &--secondary {
        background-color: $corBotaoSecundario;
        border: 1px solid $corBotaoSecundario;

        &:hover {
            background-color:  color.scale($corBotaoSecundario, $lightness: 3%);
        }
    }

    &--dark {
        background-color: rgba($corBotaoDark, 0.8);
        border: 1px solid $corTextoSecundario;
        color: $corTextoSecundario;

        &:hover {
            background-color: $corTextoSecundario;
            color: $corDeFundo;

        }
    }
}

.image__text__section {
    padding: 3vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    @media (max-width:768px) {
        display: block;
    }

    img {
        max-width: 100%;
    }

    &__content {
        padding: 0.2vw;

        h2 {
            margin-bottom: 24px;

        }
    }

    &--image-full-width {
        position: relative;
        display: block;


        img {
            width: 100%;
        }

        &__content {
            position: absolute;
            top: 0;
            left: 50%;
            width: calc(50% - 3vw);
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @media (max-width:768px) {
                position: relative;
                left: 0;
                width: 100%;
            }
        }

    }
}